
h1 {
    color:aqua
}
/* * {
    border:solid
}*/
.header{
    background-color:blue ;
    display:flex;
    justify-content:space-between

}
.site-description{
    display:flex;
    flex-direction: column;
    justify-content:first baseline ;
    text-align: center;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly
}
.footer{
    display:flex;
    justify-content: flex-end;
}
h,p2{
    text-align: center;
}
